.wrapper {
    z-index: 500;
}

.body {
    overflow-y: scroll;
    color: #000;
    padding-bottom: 0px;
}

.navigation {
    padding-top: 0px;
}

.input {
    cursor: pointer;
    padding-bottom: 3px;
}

.error {
    color: #de3226;
    font-size: 12px;
    line-height: 20px;
}

.tabDiv {
    border-radius: 10px;
    border: 1px dotted #707070;
    padding: 0px 5px 0px 5px;
    margin-bottom: 5px;
}


